
body {
  background: linear-gradient(135deg, #9EA8B1
  , #8C7479);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.h {
  color: #333;
}

#d {
  background-color: #c9ccad;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;

}

.container {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="submit"],
.back-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
.back-button:hover {
  background-color: #45a049;
}

.back-button {
  background-color: #f44336;
}

.back-button:hover {
  background-color: #d32f2f;
}

.back-button,
input[type="submit"] {
  flex-basis: 40%;
}
